body{
  margin:0px;
}
canvas{
  background-color: black;
}
div.floating{
  color:red;

  position: absolute;
  left: 15px;
  top: 15px;

  border: 1px solid red;
  padding: 5px;

  width: 150px;
  height: 500px;

  overflow-x: hidden;
}
div.layer{
  font-size: 26px;
}

input.size{
  width: 3em;

}
/* REMOVE ARROWS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}